@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins/Poppins-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins/Poppins-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

* {
  font-family: "Poppins", "sans-serif";
  font-style: normal;
  text-wrap: auto;
}

p,
h1,
h2,
span,
button {
  font-weight: 400;
}

body {
  background-color: #ffffff;
  display: grid;
  grid-template-areas:
    "home"
    "features"
    "review"
    "price"
    "download"
    "links"
    "footer";
}

.container {
  max-width: 1000px;
}
.section__home {
  color: #fffafd;
}

#navbar__hamburger {
  display: none;
}
.navbar__container {
  height: 34px;
  background-color: #2c2c2c;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  height: 20px;
  margin-left: 10px;
}
.navbar__list {
  display: none;
}

.navbar__btn-download {
  display: none;
}

.navbar__hamburger {
  margin-right: 10px;
  display: inline-block;
  transform: scale(1.6, 0.9);
  color: #fefefe;
}

.section__home {
  grid-area: home;
  background-image: url("../images/banner/banner.png");
  background-size: cover;
  background-position: 77%;
  background-repeat: no-repeat;
}
.home__header {
  margin: 25px 10px 2px;
  font-size: 1.2em;
  text-wrap: unset;
  line-height: 1.1;
  font-weight: 300;
}

.home__text {
  font-size: 0.6em;
  margin: 0 10px;
}

.home__btn {
  display: block;
  margin: 28px 10px;
  background-color: #37ebed;
  border: solid transparent 1px;
  height: 31px;
  width: 115px;
  border-radius: 5px;
  color: #feffff;
  font-size: 0.7em;
}

.home__container-phone {
  display: flex;
  justify-content: center;
}
.home__phone {
  margin-top: 10px;
  max-height: 400px;
  width: auto;
}
.section__features {
  grid-area: features;
}

.features__header-cards {
  text-align: center;
  margin-bottom: 20px;
}

.features__container-cards {
  margin-bottom: 76px;
}

.features__download-header {
  text-align: center;
  font-weight: 300;
  font-size: 18px;
  padding-right: 10px;
  margin-bottom: 12px;
}

.features__download-text {
  font-size: 10px;
  text-align: left;
  line-height: 17px;
  padding: 0 10px;
  margin-bottom: 19px;
}

.features__download-btn {
  margin: 0 0 15px 10px;
  background-color: #0181f5;
  border: solid transparent 1px;
  height: 31px;
  width: 115px;
  border-radius: 5px;
  color: #feffff;
  font-size: 0.7em;
}

.features__container-download-img {
  padding: 10px;
  margin: 0 0 22px 0;
}
.section__review {
  grid-area: review;
  background-image: url("../images/banner/testmonial.png");
  background-position: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.section__review-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(85, 173, 255, 0.8);
  z-index: 0;
}
.container__review {
  position: relative;
  z-index: 1;
}
.section__price {
  grid-area: price;
  background-color: #fafafa;
}
.section__download {
  grid-area: download;
  background-color: #5db2ff;
}
.section__links {
  grid-area: links;
  background-color: #1f1f1f;
  color: #fefefe;
}
.section__footer {
  grid-area: footer;
  background-color: #000000;
  color: #afbfc3;
}

.feature__container-icon--background {
  height: 65px;
  width: 65px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature__icon-img {
  transform: scale(0.6);
}

.feature__container-icon-background--blue {
  background: linear-gradient(
    90deg,
    rgba(10, 133, 245, 1) 0%,
    rgba(95, 178, 255, 1) 100%
  );
}

.feature__container-icon-background--orange {
  background: linear-gradient(
    90deg,
    rgba(253, 187, 120, 1) 0%,
    rgba(253, 161, 121, 1) 100%
  );
}

.feature__container-icon-background--green {
  background: linear-gradient(
    90deg,
    rgba(58, 239, 143, 1) 0%,
    rgba(62, 239, 145, 1) 100%
  );
}

.feature__container-icon {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.feature__card-text {
  font-weight: 300;
  text-align: center;
  font-size: 0.9rem;
  margin-bottom: 15px;
  line-height: 24px;
}

.review__header {
  margin: 55px 0 10px;
  text-align: center;
  font-size: 18px;
  color: #f4f9fd;
}

.review__text {
  color: #f4f9fd;
  text-align: center;
  font-size: 12px;
  padding: 0 5px;
  line-height: 21px;
  margin-bottom: 10px;
}

.review__rating-container {
  text-align: center;
  font-size: 12px;
  margin-bottom: 60px;
}
.review__rating-star {
  color: #ffd35a;
}

.review__rating-name {
  color: #f4f9fd;
  font-size: 8px;
}

.container__price {
  margin-top: 28px;
  text-align: center;
}
.price__header {
  font-size: 18px;
  margin-bottom: 11px;
}
.price__text {
  font-size: 10px;
  margin-bottom: 10px;
}

.price__cards-container {
  margin: 20px 10px 0;
}

.price__card-head {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  background-color: #e9f4fe;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
}
.price__card-container {
  margin-bottom: 17px;
  background-color: #ffffff;
}

.price__card-price--blue {
  color: #0b81f5;
}

.price__card-price--orange {
  color: #fdae5f;
}

.price__card-price--green {
  color: #0cd56a;
}
.price__card-body {
  padding: 18px;
}
.price__card-list-item {
  font-size: 10px;
  margin-bottom: 20px;
}

.price__card-btn {
  font-size: 9px;
  background-color: #ffffff;
  border: solid #aad6ff 1px;
  border-radius: 3px;
  padding: 5px 15px;
  color: #7cbcff;
}

.download__header {
  text-align: center;
  margin-top: 68px;
  color: #fefeff;
  font-size: 17px;
  line-height: 22px;
  margin-bottom: 10px;
}
.download__btn-container {
  display: flex;
  justify-content: center;
  gap: 3px;
  margin-bottom: 60px;
}

.download__btn {
  height: 30px;
}

.links__social-container {
  padding: 20px 10px 15px;
}
.links__services-container,
.links__useful-container,
.links__download-container {
  padding: 0 10px 15px;
}
.links__social-header {
  margin-top: 18px;
  font-weight: 600;
  font-size: 14px;
}

.links__social-text {
  margin-top: 11px;
  font-size: 10px;
  font-weight: 200;
  color: #b0a7a7;
}

.links__social-icons-container {
  display: flex;
  gap: 6px;
  margin-top: 18px;
}

.links__social-icon {
  display: flex;
  background-color: #565656;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  color: #c7c7c7;
}

.links__services-header,
.links__useful-header,
.links__download-header {
  font-size: 13px;
}

.links__services-list,
.links__useful-list,
.links__download-list {
  margin-top: 20px;
  font-size: 8px;
}

.links__services-list-item,
.links__useful-list-item,
.links__download-list-item {
  margin-bottom: 12px;
  color: #b0a7a7;
}

.footer__container {
  padding: 20px 0;
  font-size: 8px;
  text-align: center;
  text-decoration: none;
}

.footer__link {
  display: block;
  text-decoration: none;
  margin-top: 10px;
}
