.navbar__container {
  height: 34px;
  background-color: #2c2c2c;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  height: 20px;
  margin-left: 10px;
}
.navbar__list {
  display: none;
}

.navbar__btn-download {
  display: none;
}

.navbar__hamburger {
  margin-right: 10px;
  display: inline-block;
  transform: scale(1.6, 0.9);
  color: #fefefe;
}

.home__header {
  margin: 25px 10px 2px;
  font-size: 1.2em;
  text-wrap: unset;
  line-height: 1.1;
  font-weight: 300;
}

.home__text {
  font-size: 0.6em;
  margin: 0 10px;
}

.home__btn {
  margin: 28px 10px;
  background-color: #37ebed;
  border: solid transparent 1px;
  height: 31px;
  width: 115px;
  border-radius: 5px;
  color: #feffff;
  font-size: 0.7em;
}

.home__phone {
  margin-top: 10px;
  transform: scale(0.95);
}

.features__header-cards {
  text-align: center;
}

.feature__container-card {
  outline: solid red 1px;
}

.feature__container-icon {
  background-color: #0885f6;
}
